.leftside {
  padding-right: 15px;
}
.leftside .frame {
  padding: 10px 15px;
  border-right: 1px solid #cecece;
}
.leftside .frame .app {
  display: flex;
  gap: 30px;
  padding-top: 20px;
}
.leftside .frame .app img {
  width: 110px;
}/*# sourceMappingURL=leftside.css.map */