#menuDesktop {
  background-color: white;
}
#menuDesktop .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 68px;
  background-color: white;
}
#menuDesktop .logo {
  max-width: 53.79px;
}/*# sourceMappingURL=menuDesktop.css.map */