.rightside .title {
  text-transform: uppercase;
  font-size: 16px;
  color: black;
  font-weight: bold;
}
.rightside .linkItem .links ul {
  list-style: none;
}
.rightside .linkItem .links ul li a {
  transition: all 0.3s;
}
.rightside .linkItem .links ul li a::before {
  content: "";
  display: inline-block;
  background-color: #ea7696;
  width: 0px;
  height: 1.5px;
  transition: all 0.2s;
}
.rightside .linkItem .links ul li a:hover {
  color: #ea7696;
}
.rightside .linkItem .links ul li a:hover::before {
  width: 15px;
  margin-right: 13px;
}
.rightside .shippingUnit .item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rightside .paymentUnit .item {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 120px;
}/*# sourceMappingURL=rightside.css.map */