.rightside {
  .title {
    text-transform: uppercase;
    font-size: 16px;
    color: black;
    font-weight: bold;
  }
  .linkItem {
    .links {
      ul {
        list-style: none;
        li {
          a {
            transition: all 0.3s;
            &::before {
              content: "";
              display: inline-block;
              background-color: #ea7696;
              width: 0px;
              height: 1.5px;
              transition: all 0.2s;
            }
            &:hover {
              color: #ea7696;
              &::before {
                width: 15px;
                margin-right: 13px;
              }
            }
          }
        }
      }
    }
  }
  .shippingUnit {
    .item {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .paymentUnit {
    .item {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 120px;
    }
  }
}
