.leftside {
  padding-right: 15px;
  .frame {
    padding: 10px 15px;
    border-right: 1px solid #cecece;
    .app {
      display: flex;
      gap: 30px;
      padding-top: 20px;
      img {
        width: 110px;
      }
    }
  }
}
