@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: nunito-sans, sans-serif, Helvetica, Arial;
  background: #f0f0f0;
}
body {
  color: #333333;
  font-size: 13px;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
/* img */
img {
  max-width: 100%;
  height: auto;
}
/* container */
.container {
  width: 1200px;
  margin: 0 auto;
}
/* input, textarea */
input,
textarea {
  outline: none;
}
/*  */
p,
a,
li {
  font-size: 13px;
}

@media only screen and (max-width: 1535.98px) {
}

@media only screen and (max-width: 1229.98px) {
}

@media only screen and (max-width: 1023.98px) {
  .container {
    width: 970px;
  }
}

@media only screen and (max-width: 767.98px) {
  .container {
    width: 750px;
  }
}

@media only screen and (max-width: 639.98px) {
}
