.filterDesktop {
  width: calc(100% - 619px);
  padding: 5px 8px 0 8px;
  .filterForm {
    height: 40px;
    padding: 0 8px 0 24px;
    border: 1px solid #cdcfd0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      width: 72px;
      height: 30px;
      background-color: #c92127;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}
